<mat-card class="wrapper">
  <form class="form" [formGroup]="form">

    <div class="row">
      <h2>Дата: </h2>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="__.__.____">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date')?.hasError('dateInPast')">Дата не може бути в минулому</mat-error>
        <mat-error *ngIf="form.get('date')?.hasError('required')">Оберіть дату</mat-error>
      </mat-form-field>
    </div>

    <app-diagnoses-with-notes
      formControlName="conditions"
      [diagnosesOptions]="(diagnoses$|async)!"
      (autocompleteQuery)="pullDiagnosesByQuery($event)"
    ></app-diagnoses-with-notes>
  </form>

  <button class="generate-output-button" mat-stroked-button type="button" color="primary"
    (click)="generateOutput()">Сформувати JSON</button>

  <div class="output-wrapper" *ngIf="output">
    <h3 class="label">JSON:</h3>
    <mat-card>
      <pre>{{ output | json }}</pre>
    </mat-card>
  </div>
</mat-card>
