:host {
  display: flex;
  justify-content: center;

  padding: 2em;
}

mat-card.wrapper {
  max-width: 1200px;
  min-width: 800px;
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.generate-output-button {
  padding: 1.5em;
}

.output-wrapper {
  .label {
    font-weight: bold;
  }

  pre {
    overflow-y: auto;
    max-height: 300px;
    margin: 0;
  }
}
