<mat-card>
  <form class="form" [formGroup]="form">

    <div class="row">
      <h2>Дата: </h2>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="__.__.____">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date')?.hasError('dateInPast')">Дата не може бути в минулому</mat-error>
        <mat-error *ngIf="form.get('date')?.hasError('required')">Оберіть дату</mat-error>
      </mat-form-field>
    </div>

    <h2>Діагнози за ICPC-2</h2>
    <div class="diagnoses" formArrayName="conditions" *ngFor="let control of addedConditions.controls; let i = index;">
      <div [formGroupName]="i" class="row diagnoses-row">
        <mat-form-field appearance="outline" class="condition-field">
          <input matInput [matAutocomplete]="auto" formControlName="diagnose" placeholder="Діагноз">
          <mat-icon matSuffix class="dropdown-icon">arrow_drop_down</mat-icon>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="diagnoseDisplayFn">
            <mat-option *ngFor="let option of diagnoses$|async" [value]="option">{{option.code}}
              {{option.name}}</mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="control.get('diagnose')?.hasError('notRealDiagnose')">Оберіть діагноз із списку</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="condition-field">
          <input matInput formControlName="note" placeholder="Коментар">
        </mat-form-field>
      </div>
    </div>

    <button mat-button type="button" color="primary" *ngIf="isDisplayAddDiagnose" (click)="addDiagnose()">+ додати ще</button>
  </form>

  <button class="generate-output-button" mat-stroked-button type="button"  color="primary" [disabled]="!form.valid" (click)="generateOutput()">Сформувати JSON</button>
</mat-card>
