form {
  display: flex;
  flex-direction: column;

  .add-more-button {
    width: max-content;
  }
}

.diagnoses {
  &-row {
    justify-content: space-between;
    gap: 2em;

    mat-form-field {
      flex: 1;
    }
  }
}
